@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,400;1,200&display=swap');

body {
    background-color: #FFF0F5;
    color: #0f141e;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Montserrat Alternates', sans-serif;
}

h2 {
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

i:hover {
    text-decoration: underline;
}

i:active {
    color: blue;
}

i:visited {
    color: red;
}

.avatar {
    width: 200px;
    border-radius: 50%;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 25);
}

.info {
    display: flex;
    margin-bottom: 20px;
}

@media screen and (min-width:720px) {/*стили для десктопов и больших планшетов*/}

@media (max-width:719px) {/*стили для смартфонов и маленьких планшетов*/
    .container {width: 98%; margin: 0 1%;}
    }
    
.info-text {
    margin-left: 40px;
}

.info-text h4 {
    margin-bottom: 10px;
}

.info p {
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}


/*Box Modal*/

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

.social {
    background: lightcoral;
    padding: 10px;
    border: 5px solid lightslategray;
}

.card {
    padding: 15px 20px;
    background: #FFB6C1;
    margin-bottom: 20px;
    border-radius: 20px;
}

.card h2 {
    margin-bottom: 10px;
}

table {
    text-align: left;
    border-collapse: collapse;
}

td,
tr {
    padding-right: 10px;
}

th {
    text-align: center;
}

.courses {
    margin: 0 auto;
    text-align: center;
    padding-right: 30px;
    padding-bottom: 20px;
    width: 100%;
}

.courses th {
    border-bottom: 2px solid;
}

.list {
    padding: 0 20px;
}

.courses td:nth-child(1) {
    text-decoration: underline;
}

.icons{
    font-size: 54px;
    text-align: center;
    margin-left: 15px;

    
}